@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.drop-down-menu {
		@apply absolute left-0 bg-white rounded-lg shadow-sm w-max mt-14 opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:mt-4 transition-all duration-500 py-4 border border-blueGray-200;
	}
}

/*CUSTOM CSS*/
:root {
	--tw-text-opacity: 1;
	--tw-divide-opacity: 1;
	--tw-border-opacity: 1;
}
/*Common*/
button:focus {
	border: 0;
	outline: none !important;
}

.max-h-0 {
	max-height: 0;
}

img {
	z-index: 2;
}

/*Dropdown Menu*/
nav li.has-child {
	position: relative;
	padding-right: 10px;
}

nav li.has-child::after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 4px;
	height: 4px;
	border-radius: 10px;
	background-color: rgba(148, 163, 184, var(--tw-text-opacity));
}

.menu-item {
	--tw-border-opacity: 1;
	border-color: rgba(0, 0, 0, var(--tw-border-opacity));
	border-bottom-width: 4px;
	display: inline-block;
	padding: 1.25rem;
}

.menu-item:hover {
	--tw-border-opacity: 1;
	border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.bg-blueGray-150 {
	background-color: #eff3f9;
}

.call-form a {
	@apply font-semibold text-blue-dark hover:underline hover:decoration-pink-500 hover:decoration-2;
}

.call-form .output {
	@apply mt-3 bg-blue-100 rounded-lg p-3;
}

.call-form input {
	@apply bg-white;
}

.call-form input[type='text'],
.call-form input[type='email'],
.call-form input[type='password'],
.call-form input[type='file'],
.call-form textarea,
.call-form select {
	@apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
}

.call-form textarea {
	@apply text-sm;
}

.call-form input[type='text']:focus,
.call-form input[type='email']:focus,
.call-form textarea:focus,
.call-form select:focus {
	border-color: #5be2a9;
	box-shadow: 0 0 0 0.2em #5be2a9;
}

.call-form label {
	@apply text-sm lg:text-base;
}

.call-form fieldset {
	@apply p-6 selection:border border-solid bg-blue-50 border-gray-300 rounded-xl;
}

.call-form legend {
	@apply p-3 text-sm font-semibold bg-blue-200 rounded-xl;
}

.call-form .help {
	@apply text-sm italic text-blue-600
}

.error {
	@apply my-3 bg-red-500 shadow-md shadow-red-500/50 p-3 rounded-xl hover:shadow-none hover:bg-red-600 text-white;
}

.success {
	@apply my-3 bg-green-500 shadow-md shadow-green-500/50 p-3 rounded-xl hover:shadow-none hover:bg-green-600 text-white;
}

.submit {
	@apply bg-blue-500 shadow-md shadow-blue-500/50 px-4 py-2 rounded-xl hover:shadow-none hover:bg-blue-600 text-white;
}

.submit_green {
	@apply bg-green-600 shadow-md shadow-green-500/50 px-4 py-2 rounded-xl hover:shadow-none hover:bg-green-600 text-white;
}

.text-add,
	.icon {
		vertical-align: middle;
		display: inline-block;
	}
.icon {
    @apply h-6;
}